@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 155 36% 100%;
    --foreground: 155 71% 1%;
    --muted: 155 5% 95%;
    --muted-foreground: 155 8% 33%;
    --popover: 155 36% 100%;
    --popover-foreground: 155 71% 1%;
    --card: 155 36% 100%;
    --card-foreground: 155 71% 1%;
    --border: 155 13% 90%;
    --input: 155 13% 90%;
    --primary: 155 58% 29%;
    --primary-foreground: 0 0% 100%;
    --secondary: 155 14% 80%;
    --secondary-foreground: 155 14% 20%;
    --accent: 155 23% 71%;
    --accent-foreground: 155 23% 11%;
    --destructive: 8 87% 43%;
    --destructive-foreground: 0 0% 100%;
    --ring: 155 58% 29%;
    --radius: 0.6rem;
    --chart-1: 173 58% 39%; /* Deep Green */
    --chart-2: 12 76% 61%; /* Vibrant Orange */
    --chart-3: 197 37% 24%; /* Dark Blue */
    --chart-4: 43 74% 66%; /* Light Green */
    --chart-5: 27 87% 67%; /* Bright Yellow */
    --chart-6: 200 65% 45%; /* Muted Cyan */
    --chart-7: 345 65% 45%; /* Muted Red */
    --chart-8: 250 65% 45%; /* Muted Purple */
    --chart-9: 145 58% 39%; /* Forest Green */
    --chart-10: 34 87% 54%; /* Golden Yellow */

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    /* --background: 155 30% 0%;
    --foreground: 155 29% 98%;
    --muted: 155 5% 5%;
    --muted-foreground: 155 8% 67%;
    --popover: 155 30% 0%;
    --popover-foreground: 155 29% 98%;
    --card: 155 30% 0%;
    --card-foreground: 155 29% 98%;
    --border: 155 13% 15%;
    --input: 155 13% 15%;
    --primary: 155 78% 39%;
    --primary-foreground: 0 0% 100%;
    --secondary: 155 10% 18%;
    --secondary-foreground: 155 10% 78%;
    --accent: 155 19% 25%;
    --accent-foreground: 155 19% 85%;
    --destructive: 8 87% 49%;
    --destructive-foreground: 0 0% 100%;
    --ring: 155 58% 29%; */
    --background: 235 18% 13%;
    --foreground: 210 20% 98%;
    --card: 234 18% 11%;
    --card-foreground: 210 20% 98%;
    --popover: 234 18% 11%;
    --popover-foreground: 210 20% 98%;
    --primary: 155 78% 39%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 155 78% 39%;

    --chart-1: 220 70% 50%;
    --chart-2: 340 75% 55%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 160 60% 45%;

    --sidebar-background: 234 18% 11%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  li {
    @apply list-none;
  }
}

/* Custom Scrollbar Styles */
@layer utilities {
  ::-webkit-scrollbar {
    @apply h-2 w-2; /* Width and height */
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded bg-muted-foreground; /* Thumb color and border radius */
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-accent-foreground; /* Thumb color on hover */
  }

  ::-webkit-scrollbar-track {
    @apply bg-background; /* Track color */
  }
}
